.tree.tree-style-1 * {
	margin: 0;
	padding: 0;
}

.tree.tree-style-1 {
	white-space: nowrap;
	display: block;
}

.tree.tree-style-1 ul.a>li>a {
	text-decoration: none !important;
}

.tree.tree-style-1 ul.c,
.tree.tree-style-1 ul.p {
	padding-top: 5px;
	position: relative;
	display: table;
	margin: 0 auto;
	font-size: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree.tree-style-1 ul.c li {
	display: inline-block;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	font-size: 12px;
	line-height: normal;
	vertical-align: top;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree.tree-style-1 ul.p ul.c>li::before,
.tree.tree-style-1 ul.p ul.c>li::after,
.tree.tree-style-1 ul.p>li::before,
.tree.tree-style-1 ul.p>li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #999999;
	width: 50%;
	height: 20px;
}

.tree.tree-style-1 ul.c>li::after,
.tree.tree-style-1 ul.p>li::after {
	right: auto;
	left: 50%;
	border-left: 1px solid #999999;
}

.tree.tree-style-1 li:only-child::after {
	display: none;
}

.tree.tree-style-1 ul.c li:only-child{ 
	padding-top: 0;
}

.tree.tree-style-1 ul.p ul.c li:first-child::before,
.tree.tree-style-1 ul.p ul.c li:last-child::after {
	border: 0 none;
}

.tree.tree-style-1 ul.p ul.c>li:last-child::before {
	border-right: 1px solid #999999;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}

.tree.tree-style-1 ul.p ul.c>li:first-child::after {
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

.tree.tree-style-1 ul.p ul.c>li:only-child::before {
	right: auto;
	left: 50%;
	border-left: 1px solid #999999;
	border-right: none;
}

.tree.tree-style-1 ul.c ul.p>li::before {
	border: none;
	content: '&';
	left: 0;
	width: 100%;
	display: block;
}

.tree.tree-style-1 ul.c ul.p>li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: none;
	width: 50%;
	height: 20px;
}

.tree.tree-style-1 ul.c ul.p>li::after {
	border-left: none;
}

.p1 {
	display: table;
	margin: 0px auto;
}

.p1::before {
	border: none;
	content: '&';
	left: 0;
	width: 100%;
	display: block;
	margin: 5px 0px;
}

.tree.tree-style-1 ul.c {
	padding-top: 20px;
}

.tree.tree-style-1 ul ul.c::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid #999999;
	width: 0;
	height: 20px;
}

.tree.tree-style-1 li .indi {
	border: 1px solid #999999;
	padding: 4px;
	text-decoration: none;
	color: #666666;
	background-color: #fff;
	display: inline-block;
	width: 80px;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	position: relative;
	outline: none;
	cursor: pointer;
	white-space: initial;
}

.tree.tree-style-1 li .p>.indi {
	border-style: dashed;
}

.tree.tree-style-1 li .indi.active {
	border: 1px solid #999999;
	color: #333;
	background-color: #FFFF88;
}

.tree.tree-style-1 li .indi span {
	display: block;
	font-size: 10px;
}

.tree.tree-style-1 li .indi.m:hover {
	background: #c8e4f8;
	color: #000;
	border: 1px solid #94a0b4;
}

.tree.tree-style-1 li .indi.f:hover {
	background: #ffc0cb;
	color: #000;
	border: 1px solid #94a0b4;
}

.tree.tree-style-1 li .indi:hover+ul li .indi.m {
	background: #c8e4fb;
	color: #000;
	border: 1px solid #94a0b4;
}

.tree.tree-style-1 li .indi:hover+ul li .indi.f {
	background: #ffc0cb;
	color: #000;
	border: 1px solid #94a0b4;
}

.tree.tree-style-1 li .indi:hover+.p1 .indi.m {
	background: #c8e4fb;
	color: #000;
	border: 1px solid #94a0b4;
}

.tree.tree-style-1 li .indi:hover+.p1 .indi.f {
	background: #ffc0cb;
	color: #000;
	border: 1px solid #94a0b4;
}

.tree.tree-style-1 .tree-thumbnail {
	display: block;
	vertical-align: text-top;
	margin: 0px auto 4px auto;
	width: 70px;
	height: 70px;
	border-radius: 4px;
}

.tree.tree-style-1 .indi.f .tree-thumbnail {
	background-image: url('../img/female.jpg');
	background-size: 100%;
}

.tree.tree-style-1 .indi.m .tree-thumbnail {
	background-image: url('../img/male.jpg');
	background-size: 100%;
}

.tree.tree-style-1-detail {
	display: inline-block;
	vertical-align: text-top;
}

.tree.tree-style-1-ie8 td.line {
	line-height: 0px;
	height: 1px;
	font-size: 1px;
}

.tree.tree-style-1-ie8 .li {
	display: inline-block;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 0px 5px 0 5px;
	font-size: 12px;
	line-height: normal;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree.tree-style-1 .li .indi span {
	display: block;
	font-size: 10px;
}

.tree.tree-style-1 .li .indi {
	border: 1px solid #ccc;
	padding: 4px;
	text-decoration: none;
	color: #666;
	background-color: #fff;
	display: inline-block;
	min-width: 50px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree.tree-style-1 ul.a {
	position: relative;
	display: block;
	margin: 0 auto;
	font-size: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree.tree-style-1 ul.a::after {
	content: '';
	display: block;
	margin: 0;
	border-right: 1px solid #999999;
	width: 50%;
	height: 20px;
}

.tree.tree-style-1 ul.a li {
	display: inline-block;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding-bottom: 20px;
	font-size: 12px;
	line-height: normal;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree.tree-style-1 ul.a>li:first-child::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: auto;
	left: 50%;
	border-left: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-radius: 0 0 0 5px;
	-webkit-border-radius: 0 0 0 5px;
	-moz-border-radius: 0 0 0 5px;
	width: 50%;
	height: 20px;
}

.tree.tree-style-1 ul.a>li:last-child::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 50%;
	left: auto;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-radius: 0 0 5px 0;
	-webkit-border-radius: 0 0 5px 0;
	-moz-border-radius: 0 0 5px 0;
	width: 50%;
	height: 20px;
}

.tree.tree-style-1 .li .indi.m:hover {
	background: #c8e4f8;
	color: #000;
	border: 1px solid #94a0b4;
}

.tree.tree-style-1 .li .indi.f:hover {
	background: #ffc0cb;
	color: #000;
	border: 1px solid #94a0b4;
}

.tree.tree-style-1 .li .indi:hover+ul .li .indi.m {
	background: #c8e4fb;
	color: #000;
	border: 1px solid #94a0b4;
}

.tree.tree-style-1 .li .indi:hover+ul .li .indi.f {
	background: #ffc0cb;
	color: #000;
	border: 1px solid #94a0b4;
}

.tree.tree-style-1 .li .indi:hover+.p1 .indi.m {
	background: #c8e4fb;
	color: #000;
	border: 1px solid #94a0b4;
}

.tree.tree-style-1 .li .indi:hover+.p1 .indi.f {
	background: #ffc0cb;
	color: #000;
	border: 1px solid #94a0b4;
}

.popover {
	font-size: 12px;
	z-index: 2;
}

.popover * {
	margin: 0;
	padding: 0;
}

.popover a.btn {
	font-size: 12px;
}

.popover .row-btn {
	margin-top: 12px;
}

.popover .row-btn .btn-6 {
	width: 48.75%;
	display: inline-block;
	margin-left: 1.25%;
}

.popover .row-btn .btn-6:first-child {
	margin-left: 0;
}

.popover.right {
	margin-left: 15px;
}

.popover.left {
	margin-left: -15px;
}

.popover.bottom {
	margin-top: 12px;
}

.hover {
	position: absolute;
	top: -7px;
	right: -7px;
	z-index: 1;
}

.icon-info-sign {
	background-position: 0px 0px;
	background-image: url('../images/icon-info-sign.png');
	display: none;
}

.tree.tree-style-1 li .indi.show-popover .icon-info-sign,
.tree.tree-style-1 li .indi:hover .icon-info-sign {
	display: block;
}


.tree.tree-style-1 li.pending .indi li {
	padding: 10px;
}

.tree.tree-style-2,
.tree.tree-style-2 ul {
	
}

.tree.tree-style-2 li .indi {
	position: relative;
	height: 39px;
	display: inline-block;
}


.tree.tree-style-2 .chills {
	list-style: disc;
	position: relative;
}

.tree.tree-style-2 .chills .chill {
	position: relative;
}

.tree.tree-style-2 .chills .chill:before {
	content: "";
	position: absolute;
	top: 19px;
	bottom: -19px;
	width: 1px;
	background: red;
	left: -17px;
}

.tree.tree-style-2 .chills .chill:last-child:before {
	display: none;
}

.tree.tree-style-2 .fams .fam {
	position: relative;
}

.tree.tree-style-2 .fams .fam:before {
	content: "";
	position: absolute;
	top: 19px;
	bottom: -19px;
	width: 1px;
	background: red;
	left: -17px;
}

.tree.tree-style-2 .fams .fam:last-child:before {
	display: none;
}

.tree.tree-style-2 ul.fams {
	list-style: disc;
	/* display: none;  */
}

.tree.tree-style-2 input {
	display: none;
}

.tree.tree-style-2 input:checked+ul.fams {
	display: block;
}

.tree.tree-style-2 .chills {
	list-style: disc;
	/* display: none;  */
}

.tree.tree-style-2 input:checked+.chills {
	display: block;
}








.tree.tree-style-3 {
	font-family: Menlo, Consolas, monospace;
}

.tree.tree-style-3 li .links,
.tree.tree-style-3 li .indi {
	position: relative;
	height: 39px;
	display: inline-block;
}
.tree.tree-style-3 li .links {
	margin-left: 10px;
}
.tree.tree-style-3 li .links .dashicons {
line-height: 39px;
width: inherit;
height: inherit;

padding: 0 5px;
}
.tree.tree-style-3 .chills {
	list-style: disc;
	position: relative;
}

.tree.tree-style-3 .chills .chill {
	position: relative;
}

.tree.tree-style-3 .chills .chill:before {
	content: "";
	position: absolute;
	top: 19px;
	bottom: -19px;
	width: 1px;
	background: #000;
	left: -61px;
}

.tree.tree-style-3 .chills .chill:after {
    content: "";
    position: absolute;
    top: 19px;
    height: 1px;
    background: #000;
    left: -61px;
    width: 45px;
}




.tree.tree-style-3 .chills .chill:last-child:before {
	opacity: 0;
}

.tree.tree-style-3 .chills .chill:first-child:before {
top: -19px;
opacity: 1;
}

.tree.tree-style-3 .chills .chill:only-child:before {
    top: -19px;
    opacity: 1;
    bottom: initial;
    height: 38px;
}

.tree.tree-style-3 .fams .fam {
	position: relative;
}

.tree.tree-style-3 .fams .fam:before {
	content: "";
	position: absolute;
	top: 19px;
	bottom: -19px;
	width: 1px;
	background: #000;
	left: -61px;
}

.tree.tree-style-3 .fams .fam:after {
    content: "";
    position: absolute;
    top: 19px;
    height: 1px;
    background: #000;
    left: -61px;
    width: 45px;
}



.tree.tree-style-3 .fams .fam:last-child:before {
	opacity: 0;
}

.tree.tree-style-3 .fams .fam:first-child:before {
top: -19px;
opacity: 1;
}

.tree.tree-style-3 .fams .fam:only-child:before {
    top: -19px;
    opacity: 1;
    bottom: initial;
    height: 38px;
}

.tree.tree-style-3 ul.fams {
	list-style: disc;
	display: none; 
}

.tree.tree-style-3 input {
	display: none;
}

.tree.tree-style-3 input:checked+ul.fams {
	display: block;
}

.tree.tree-style-3 .chills {
	list-style: disc;
	display: none; 
}

.tree.tree-style-3 input:checked+.chills {
	display: block;
}